@model Eventease.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>@Model.Title</h1>

<div>
    <strong>Date:</strong> @Model.Date
</div>
<div>
    <strong>Venue:</strong> @Model.Venue.Name
</div>

<a href="@Url.Action("Index", "Events")">Back to Events List</a>
